@if(faceSnapInstance$ | async; as faceSnapInstance){
<div class="face-snap-card" [ngClass]="{'snapped': snapped}">
    <h2>{{ faceSnapInstance.title | titlecase }} </h2>
    <p>{{ faceSnapInstance.description}}</p>
    <img [src]="faceSnapInstance.pictureUrl" [alt]="faceSnapInstance.title">
    
    @if (faceSnapInstance.location) {
        <p> Location : {{faceSnapInstance.location}} </p>
    }
    @else {
        <p> Unspecified location </p>
    }
    
    <p>Mis en ligne le {{ faceSnapInstance.createdAt | date: "d MMMM yyyy à HH:mm"}}</p>
    @if(!this.preview){
        <p>
            <button (click)="onSnap()">{{snapButtonText}}</button>
            <span [ngStyle]="{'color': 'rgb(0, ' + faceSnapInstance.snaps + ', 0)'}"> 🤌 {{faceSnapInstance.snaps}} </span>
        </p> 

        <button routerLink="/facesnaps">BACK</button>
    }
    </div>
    
    
}